
h1{
	text-align: center;
	
	}
h4{
	text-align: center;
}
}

}
.slider{
	width: 50%;
	margin: auto;
	overflow: hidden;
}
.slider ul {
	display: flex;
	padding: 0;
	width: 100;

	animation: cambio 5s infinite alternate;


}
.slider li {
    width: 100%;
	list-style: none;-

}
.slider img {
	width: 40%;

}
.cent{
	width:40%;
	position: absolute;
	margin-left: 20%;
	height: 500px;
	
}

.art{

	margin-left: 
	position: absolute;
	font-size: 80%;
	
}
p{
	padding: 5px 20px;
	margin: 5%
}
div{
	
}
section{
	border: 2px solid #aaa;

	}
.der{
	width:80%;
	position: relative;
	top:-410px;
	bottom:500px;
	right:500px; 
	left:450px;
}
.iz{
	width:18%;
	position: relative;
	top:295px;
	bottom:1000px;
	right:500px; 
	left:0px;

}


	

